body {
    font-family: Josefin Sans;
    background-color: $body;
}

%checkbox_none {
    .checkbox {
        display: none;
    }
}

@mixin width_main ($w: 37rem) {
    width: $w;
}

@mixin height_posts ($h: 4rem) {
    height: $h;
}

@mixin circle ($img: url("../public/circle.svg")) {
    cursor: pointer;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: $img;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    color: $w;
    user-select: none;
    height: 45vh;
    padding-top: 5rem;
    background-image: url("../public/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    // TITLE DARK_MODE
    .position_title_create {
        display: flex;
        align-items: center;
        flex-direction: column;

        div {
            letter-spacing: $letter-spacing;
            @include width_main;
            margin-bottom: 2.7rem;
            display: flex;
            justify-content: space-between;

            h1 {
                font-size: 3rem;
            }

            .DarkOrLight {
                width: 2rem;
                height: 2rem;
                background-image: url("../public/icon-moon.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        // CREATE TODO
        .create_todo {
            @include width_main;
            @include height_posts;
            padding: 1rem $paddingX;
            background-color: $w;
            border-radius: $radius;
            box-shadow: $shadow;
            display: flex;
            align-items: center;

            .checkbox {
                display: none;
            }

            .circle {
                @include circle;

                &:hover {
                    @include circle(url("../public/circle-hover.svg"));
                }

                &:hover>img {
                    filter: brightness(0) saturate(100%) invert(52%) sepia(40%) saturate(2149%) hue-rotate(82deg) brightness(114%) contrast(128%);
                }

                img {
                    filter: brightness(0) saturate(100%) invert(65%) sepia(18%) saturate(206%) hue-rotate(198deg) brightness(89%) contrast(90%);
                }
            }

            .create_title {
                color: $bl;
                font-size: 1rem;
                height: 5vh;
                width: 100%;
                padding: 0 0.3rem;
                border-style: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

main {
    transform: translateY(-3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $radius;

    .content_todo {
        @include width_main;
        border-radius: $radius;
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        flex-direction: column;

        .lists {
            width: 100%;
            @include height_posts;
            @include width_main;
            padding: 1rem $paddingX;
            background-color: $w;
            border-bottom: solid 0.1rem $g;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:first-child {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
            }
        }


        .zero_posts {
            padding: 0;

            label {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p {
                    color: $bl;
                    font-size: 2.2rem;
                    font-weight: bold;
                    user-select: none;
                }
            }
        }



        // POSTS
        .posts {
            div {
                display: flex;
                align-items: center;

                @extend %checkbox_none;

                .circle {
                    @include circle;

                    &:hover {
                        background-image: url("../public/circle-hover.svg");
                    }

                }

                span {
                    display: flex;
                    align-items: center;
                }

            }

            .cross {
                display: none;
                width: 1rem;
                align-items: center;
            }

            &:hover>.cross {
                display: flex;
            }
        }

        // FOOTER LIST
        .footer_list {
            color: $g;
            user-select: none;
            width: 100%;
            @include height_posts(3rem);
            padding: 0 $paddingX;
            background-color: $w;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                width: 10rem;
                font-size: $min_txt;
            }

            ul {
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 4%;

                li button {
                    font-weight: bold;
                    padding: 0.3rem;

                    &:hover {
                        color: $b;
                    }
                }
            }

            .clear {
                width: 10rem;
                text-align: end;
                font-size: $min_txt;

                &:hover {
                    color: $b;
                }

                &:active {
                    color: $r;
                }
            }
        }
    }

    .footer_list_mobile {
        display: none;
        margin-top: 1rem;
        color: $g;
        user-select: none;
        @include width_main(20.5rem);
        @include height_posts (3rem);
        background-color: $w;
        border-radius: $radius;
        box-shadow: $shadow;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        button {
            font-weight: bold;

            &:hover {
                color: $b;
            }
        }
    }
}

// FOOTER
footer {
    margin-bottom: 2.5rem;
    color: $g;
    font-size: 0.6rem;
    text-align: center;
}

@media screen and (max-width: 650px) {
    header {
        .position_title_create {

            // TITLE DARK_MODE
            div {
                @include width_main(20.5rem);

                h1 {
                    font-size: 2rem;
                }

                .DarkOrLight {
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }

            // CREATE TODO
            .create_todo {
                @include width_main(20.5rem);
                @include height_posts(3.5rem);

                .create_title {
                    width: 90%;
                    font-size: 0.8rem;
                }
            }
        }
    }

    main {
        .content_todo {
            @include width_main(20.5rem);

            ul {
                width: 100%;

                .lists {
                    width: 100%;
                    @include height_posts(3.5rem);
                }

                .zero_posts p {
                    font-size: 1.5rem;
                }

                // POSTS
                .posts div span {
                    font-size: 0.8rem;
                }

                .cross {
                    display: flex;
                }
            }

            // FOOTER LIST
            .footer_list {
                padding-top: 1rem;
                align-items: start;

                ul {
                    display: none;
                }
            }
        }

        .footer_list_mobile {
            display: flex;
        }
    }
}

// DARK MODE
body[data-theme="dark"] {
    background-color: $dBody;

    .lists {
        color: $dText;
        background-color: $dListAndCreate;

        label p {
            color: $dText;
        }
    }

    .create_todo {
        background-color: $dListAndCreate;

        .circle {
            @include circle(url("../public/circle-dark.svg"));

            &:hover {
                @include circle(url("../public/circle-hover-dark.svg"));
            }
        }

        .create_title {
            color: $dText;
            background-color: $dListAndCreate;
        }
    }

    .posts div .circle {
        @include circle(url("../public/circle-dark.svg"));

        &:hover {
            @include circle(url("../public/circle-hover-dark.svg"));
        }
    }

    .footer_list {
        color: $txtDarkFooterList;
        background-color: $dListAndCreate;

        ul li button:hover {
            color: $w;
        }

        .clear:hover {
            color: $w;
        }

        .clear:active {
            color: $r;
        }
    }

    .footer_list_mobile {
        color: $txtDarkFooterList;
        background-color: $dListAndCreate;

        li button:hover {
            color: $w;
        }
    }

    footer {
        color: $txtDarkFooterList;
    }
}